* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

}

form {
  margin: 2rem;
}

.container {  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 842px;
  width: 595px;
  border: 1px solid black;
  padding: 20px;
}

.general {
  height: 102px;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.education {
  height:350px;
}

.work {
  height:350px;
}